<!-- section 8 -->
<section class="w-100  py-5">


<section class="text-white container">


<section class="sec-8 col-md-12 d-flex flex-wrap mx-2 justify-content-between">
  <div class="col-md-3 me-3 mb-5">
    <img class="mb-4" src="../../assets/imges/footer/logo-footer.png" />
    <div class="d-flex">
      <img
        class="align-self-center me-2"
        src="../../assets/imges/footer/location.png"
      />
      <div class="d-flex flex-column">
        <small>25566 Hc 1, Glenallen,</small>
        <small> Alaska, 99588, USA</small>
      </div>
    </div>
    <div class="d-flex my-2">
      <img class="me-2" src="../../assets/imges/footer/call.png" />
      <small>+603 4784 273 12</small>
    </div>
    <div class="d-flex">
      <img class="me-2" src="../../assets/imges/footer/sms.png" />
      <small>rentcars@gmail.com</small>
    </div>
  </div>
  <div class="col-md-2 d-flex flex-column me-3 mb-5">
    <p class="mb-4">Our Products</p>
    <small>Career</small>
    <small>Car</small>
    <small>Packages</small>
    <small>Features</small>
    <small>Priceline</small>
  </div>
  <div class="col-md-2 d-flex flex-column me-3 mb-5">
    <p class="mb-4">Resources</p>
    <small>Download</small>
    <small>Help Centre</small>
    <small>Guides</small>
    <small>Partner Network</small>
    <small>Cruises</small>
    <small>Developer</small>
  </div>
  <div class="col-md-2 d-flex flex-column me-3 mb-5">
    <p class="mb-4">About Rentcars</p>
    <small>Why choose us</small>
    <small>Our Story</small>
    <small>Investor Relations</small>
    <small>Press Center</small>
    <small>Advertise</small>
  </div>
  <div class="col-md-2 d-flex flex-column mb-5">
    <p class="mb-4">Follow Us</p>
    <div>
      <img src="../../assets/imges/footer/facebook.png" alt="facebook" />
      <img class="mx-3" src="../../assets/imges/footer/instagram.png" alt="instagram" />
      <img src="../../assets/imges/footer/youtube.png" alt="youtube" />
    </div>
  </div>

  
</section>
<hr/>

<section>
    <small class="text-md-center">Copyright 2023 ・ Rentcars, All Rights Reserved</small>
  </section>
</section>

</section>